body{
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    
    height: 168px;
}
.contactes{
    
    height: 195px;
}
.contingut{
    height: 1665px;  
    
}
.centrador{
    width: 1665px;
    overflow: hidden;
    margin: 0 auto;
}
li{
    display: inline-block;
    margin: 10px;
    background-color: blanchedalmond;
    height: 82px;
    width: 82px;
    border-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 200px;
}
ul{
    
    width: 1060px;
    margin: auto;
    padding: 36px;
}
#Contactes1{
    background-image: url(../img/ifpagram_09.png);
    
}
#Contactes1:hover{
    background-size: 200%;
    background-position: center;
}

#Contactes2{
    background-image: url(../img/ifpagram_13.png);
   
}

#Contactes3{
    background-image: url(../img/ifpagram_09.png);
   
}
#Contactes4{
    background-image: url(../img/ifpagram_13.png);
   
}

#Contactes5{
    background-image: url(../img/ifpagram_09.png);
   
}

#Contactes6{
    background-image: url(../img/ifpagram_13.png);
   
}
#Contactes7{
    background-image: url(../img/ifpagram_09.png);
   
}

#Contactes8{
    background-image: url(../img/ifpagram_13.png);
   
}

#Contactes9{
    background-image: url(../img/ifpagram_09.png);
   
}
#Contactes10{
    background-image: url(../img/ifpagram_09.png);
   
}

.logo{
float: left;
width: 336px;
height: 50px;
background-size: 80%;
background-repeat: no-repeat;
padding: 10px;
margin: 10px;

}
.nav{
width: 336px;
height: 50px;
margin: auto;

padding: 16px;

}
.nav ul{
    height: 50px;
    width: 296px;
    padding: 0;
    margin: auto;
    
}
.nav ul li{
    width: 42px;
    height: 42px;
    margin: 4px;
    
  
}
.user{
float: right;
height: 50px;
background-size: 80%;
background-repeat: no-repeat;
padding: 10px;
margin: 10px;
}

.home{
    background-image: url(../img/home.png);
}
.search{
    background-image: url(../img/search.png);
}
.tv{
    background-image: url(../img/tv.png);
}
.like{
    background-image: url(../img/like.png);
}

.post{
    height: 600px;
    width: 535px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    float: left;
}

.post img{
    width: 535px;

}
.post div{
    width: 150px;
    margin: 5px;
    
}

.post .postejador{
    float: left;
}
.post .postejador img{
    width: 50px;
    border-radius: 50%;
    float: left;
}

.post .reaccions{
    width: 170px;
    float: right;
}

.post h5{
  
    height: 25px;
    line-height: 25px;
    font-weight: 700;
}
.post h6{
   
    height: 20px;
}

a:link{
    opacity: 100%;
}

a:hover{
    opacity: 60%;
    background-size: 200%;
}