
# BEGIN WordPress
# Les directives (línies) entre "BEGIN WordPress" i "END WordPress" es generen dinàmicament i haurien de ser solament modificades mitjançant els filtres del WordPress.
# Qualsevol canvi entre aquestes marques se sobreescriuran.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /wordpress4/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wordpress4/index.php [L]
</IfModule>

# END WordPress